* {
  font-family: "Noto Sans KR", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  padding-left: 0;
  list-style: none;
}
#main-page {
  height: 100vh;
}
#main-page,
#location,
#gallery,
#address,
#intro {
  padding-top: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
#main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main-page img {
  margin-top: 3rem;
  height: 25rem;
}
#main-page > h1 {
  margin-top: 2rem;
  font-family: "Nanum Pen Script", cursive;
  font-size: 4rem;
}
#main-page > h2 {
  margin-top: 2rem;
  font-size: 1.4rem;
}
#intro {
  text-align: center;
}
#intro > p {
  font-size: 2.0rem;
  font-family: "Nanum Pen Script", cursive;
  line-height: 3rem;
  margin-top: 5rem;
  margin-bottom: 10rem;
}
#intro > .person-container {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
#gallery img {
  height: 12rem;
}
#gallery .img-list-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#gallery .img-list-container .img-wrapper {
  margin-top: 2rem;
}
#location {
  margin-bottom: 5rem;
}
#location > div {
  padding-left: 1rem;
  color: gray;
}
#location .img-wrapper {
  margin-top: 1rem;
}
#location img {
  height: 12rem;
}
